:root {
  --primary-color: #684993;
}

body {
  width: 20rem;
  padding: 0.7rem;
  color: black;
}

.i-notes{
  color: var(--primary-color);
  font-weight: bold;
}

#notes-list {
  max-height: 60vh;
  overflow-y: auto;
}

#notes-list::-webkit-scrollbar {
  width: 8px;
}

#notes-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

#notes-list::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

#notes-list::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.note-item {
  border-bottom: 1px solid #dee2e6;
  padding: 10px 0;
}

.note-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 0.9rem;
}

.date {
  font-size: 0.5rem;
  color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 12px;
  padding: 1px 8px;
  display: inline-block;
}

.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options .icons i {
  font-size: 0.6rem;
  border-radius: 50%;
  padding: 0.3rem;
}
.copy-icon {
  border: 1px solid #3545f9;
  color: #3545f9;
  float: right;
  margin-right: 0.3rem;
}

.copy-icon:hover {
  background-color: #3545f9;
  color: white;
}

.delete-icon {
  border: 1px solid #dc3545;
  color: #dc3545;
  float: right;
  margin-right: 0.3rem;
}

.delete-icon:hover {
  background-color: #dc3545;
  color: white;
}

#save-btn {
  font-size: 0.7rem;
  float: right;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

#save-btn:hover {
  background-color: white;
  color: var(--primary-color);
}

.error-msg {
  display: none;
  float: left;
  color: #dc3545;
  font-size: 0.875rem;
}

.note-actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.note-content {
  margin-bottom: 8px;
}
/* Custom Modal Style */
.delete-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.modal-buttons {
  margin-top: 20px;
}

.confirm-delete-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.confirm-delete-btn:hover {
  background-color: darkred;
}

.cancel-delete-btn {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-delete-btn:hover {
  background-color: darkgray;
}
