body {
  width: 20rem;
  padding: 0.7rem;
  color: black;
}
body[data-size="small"] {
  width: 20rem;
}
body[data-size="medium"] {
  width: 35rem;
}
body[data-size="large"] {
  width: 50rem;
}
.i-notes {
  color: var(--primary);
}
#notes-list {
  max-height: 60vh;
  overflow-y: auto;
}
#notes-list::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}
#notes-list::-webkit-scrollbar-track {
  border-radius: 4px;
}
#notes-list::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}
.dark-mode {
  background-color: var(--dark) !important;
  color: white !important;
}
.dark-mode .input-tag {
  background-color: transparent !important;
  color: white !important;
}
.dark-mode .modal-content {
  background-color: var(--dark);
  color: white;
}
.dark-mode .date {
  border-color: white;
  color: white;
}
.dark-mode ::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
.dark-mode ::-ms-input-placeholder { /* Edge 12 -18 */
  color: white;
}

#note-input{
  min-height: 5rem;
}